units:
  # Proxy Spacing Variables
  kx: u
  ky: u
  border_padding: 2
  # From matrix_inner_num to vertical mirror axis
  mirror_distance: 38.5
points:
  zones:
    matrix:
      columns:
        outer:
          key:
            column_net: col_1
        pinky:
          key:
            stagger: 5
            column_net: col_2
        ring:
          key:
            stagger: 15
            column_net: col_3
        middle:
          key:
            stagger: 3.5
            column_net: col_4
        index:
          key:
            stagger: -6
            column_net: col_5
        inner:
          key:
            stagger: -4
            column_net: col_6
      rows:
        bottom:
          # Note: row_net is not in key for whatever reason
          row_net: row_4
        home:
          row_net: row_3
        top:
          row_net: row_2
        num:
          row_net: row_1
    thumb:
      anchor:
        ref: matrix_ring_bottom
        shift: [3, -(ky+2)]
      columns:
        outer-3:
          key:
            splay: -5
            column_net: col_2
        outer-2:
          key:
            splay: -5
            shift: [1.3, -0.8]
            column_net: col_3
        outer:
          key:
            splay: -5
            shift: [2.6, -1.6]
            column_net: col_4
        home:
          key:
            splay: -5
            shift: [3.9, -2.4]
            height: 1.5kx
            column_net: col_5
        inner:
          key: 
            splay: -5
            shift: [5.2, -3]
            height: 2.25kx
            column_net: col_6
      rows:
        cluster:
          row_net: row_5
  mirror:
    ref: matrix_inner_num
    distance: mirror_distance * 2

outlines:
  keys:
    - what: rectangle
      where: true
      bound: false
      size: [14,14]
  outer_left:
    - what: polygon
      operation: stack
      points:
      - ref: matrix_inner_num
        shift: [mirror_distance, ky/2+border_padding]
      - ref: matrix_inner_num
        shift: [mirror_distance, -85]
      - ref: thumb_inner_cluster
        shift: [kx/2+border_padding, -(ky/2+border_padding)]
      - ref: thumb_home_cluster
        shift: [kx/2+border_padding, -(ky/2+border_padding)]
      - ref: thumb_outer_cluster
        shift: [kx/2+border_padding, -(ky/2+border_padding)]
      - ref: thumb_outer-2_cluster
        shift: [kx/2+border_padding, -(ky/2+border_padding)]
      - ref: thumb_outer-3_cluster
        shift: [kx/2+border_padding, -(ky/2+border_padding)]
      - ref: thumb_outer-3_cluster
        shift: [-(kx/2+border_padding), -(ky/2+border_padding)]
      - ref: matrix_outer_bottom
        shift: [kx/2+border_padding, -(ky/2+border_padding)]
      - ref: matrix_outer_bottom
        shift: [-(kx/2+border_padding), -(ky/2+border_padding)]
      - ref: matrix_outer_num
        shift: [-(kx/2+border_padding), ky/2+border_padding]
      - ref: matrix_pinky_num
        shift: [-(kx/2+border_padding), ky/2+border_padding]
      - ref: matrix_ring_num
        shift: [-(kx/2+border_padding), ky/2+border_padding]
      - ref: matrix_middle_num
        shift: [-(kx/2+border_padding), ky/2+border_padding]
      - ref: matrix_middle_num
        shift: [kx/2+border_padding, ky/2+border_padding]
      - ref: matrix_index_num
        shift: [kx/2+border_padding, ky/2+border_padding]
      - ref: matrix_inner_num
        shift: [kx/2+border_padding, ky/2+border_padding]
      fillet: 5
  outer_right:
    - what: polygon
      operation: stack
      points:
      - ref: mirror_matrix_inner_num
        shift: [mirror_distance, ky/2+border_padding]
      - ref: mirror_matrix_inner_num
        shift: [mirror_distance, -85]
      - ref: mirror_thumb_inner_cluster
        shift: [(kx/2+border_padding), -(ky/2+border_padding)]
      - ref: mirror_thumb_home_cluster
        shift: [(kx/2+border_padding), -(ky/2+border_padding)]
      - ref: mirror_thumb_outer_cluster
        shift: [(kx/2+border_padding), -(ky/2+border_padding)]
      - ref: mirror_thumb_outer-2_cluster
        shift: [(kx/2+border_padding), -(ky/2+border_padding)]
      - ref: mirror_thumb_outer-3_cluster
        shift: [(kx/2+border_padding), -(ky/2+border_padding)]
      - ref: mirror_thumb_outer-3_cluster
        shift: [-(kx/2+border_padding), -(ky/2+border_padding)]
      - ref: mirror_matrix_outer_bottom
        shift: [kx/2+border_padding, -(ky/2+border_padding)]
      - ref: mirror_matrix_outer_bottom
        shift: [-(kx/2+border_padding), -(ky/2+border_padding)]
      - ref: mirror_matrix_outer_num
        shift: [-(kx/2+border_padding), ky/2+border_padding]
      - ref: mirror_matrix_pinky_num
        shift: [-(kx/2+border_padding), ky/2+border_padding]
      - ref: mirror_matrix_ring_num
        shift: [-(kx/2+border_padding), ky/2+border_padding]
      - ref: mirror_matrix_middle_num
        shift: [-(kx/2+border_padding), ky/2+border_padding]
      - ref: mirror_matrix_middle_num
        shift: [(kx/2+border_padding), ky/2+border_padding]
      - ref: mirror_matrix_index_num
        shift: [(kx/2+border_padding), ky/2+border_padding]
      - ref: mirror_matrix_inner_num
        shift: [(kx/2+border_padding), ky/2+border_padding]
      - ref: mirror_matrix_inner_num
        shift: [(mirror_distance), ky/2+border_padding]
      fillet: 5
  cutouts:
    - what: polygon
      operation: add
      points:
        - ref: matrix_inner_num
          shift: [21, 4]
        - ref: matrix_inner_num
          shift: [28.5, 4]
        - ref: matrix_inner_num
          shift: [28.5, -1]
        - ref: matrix_inner_num
          shift: [21, -1]
      fillet: 0.5
    - what: polygon
      operation: add
      points:
        - ref: mirror_matrix_inner_num
          shift: [21, 4]
        - ref: mirror_matrix_inner_num
          shift: [28.5, 4]
        - ref: mirror_matrix_inner_num
          shift: [28.5, -1]
        - ref: mirror_matrix_inner_num
          shift: [21, -1]
      fillet: 0.5
    - what: polygon
      operation: add
      points:
        - ref: matrix_inner_home
          shift: [10, -0.5]
        - ref: matrix_inner_home
          shift: [31, -0.5]
        - ref: matrix_inner_bottom
          shift: [31, -21]
        - ref: matrix_inner_bottom
          shift: [10, -12.5]
      fillet: 7.5
    - what: polygon
      operation: add
      points:
        - ref: mirror_matrix_inner_home
          shift: [10, -0.5]
        - ref: mirror_matrix_inner_home
          shift: [31, -0.5]
        - ref: mirror_matrix_inner_bottom
          shift: [31, -21]
        - ref: mirror_matrix_inner_bottom
          shift: [10, -12.5]
      fillet: 7.5
  combo:
    - name: outer_left
    - operation: subtract
      name: keys
  board_left:
    - name: outer_left
    - operation: subtract
      name: cutouts
  board_right:
    - name: outer_right
    - operation: subtract
      name: cutouts
pcbs:
  Palette58_left:
    outlines:
      main:
        outline: board_left
    footprints:
      gateron_low_profile_hotswap:
        what: gateron_low_profile
        where: 
          - /^matrix_.*/
          - /^thumb_.*/
        params:
          keycaps: true
          reverse: false
          hotswap: true
          from: "{{column_net}}"
          to: "{{colrow}}"
      diodes:
        what: combo_diode
        where: 
          - /^matrix_.*/
          - /^thumb_.*/
        adjust:
          shift: [8.25, 0]
          rotate: -90
          resist: true
        params:
          value: "1N4148"
          SMD: true
          from: "{{colrow}}"
          to: "{{row_net}}"
      per_key_rgb:
        what: XL-1615RGBC-WS2812B
        where: 
          - /^matrix_.*/
          - /^thumb_.*/
        adjust:
          shift: [0,5.75]
          resist: true
        params:
          din: ""
          dout: ""
      per_key_rgb_decoupling_capacitors:
        what: ceramic_capacitor
        where: 
          - /^matrix_.*/
          - /^thumb_.*/
        adjust:
          shift: [0, 9.25]
        params:
          value: "100nF"
          left: "GND"
          right: "VCC"
      hotswap_diode_vias:
        what: covered_via
        where: 
          - /^matrix_.*/
          - /^thumb_.*/
        adjust:
          shift: [6.40, -5.75]
          resist: true
        params:
          net: "{{colrow}}"
      per_key_led_ground_vias:
        what: covered_via
        where: 
          - /^matrix_.*/
          - /^thumb_.*/
        adjust:
          shift: [-0.7, 5.325]
          resist: true
        params:
          size: 0.65
          net: "GND"
      per_key_rgb_capacitor_ground_vias:
        what: covered_via
        where: 
          - /^matrix_.*/
          - /^thumb_.*/
        adjust:
          shift: [-0.48, 8.25]
          resist: true
        params:
          size: 0.56
          net: "GND"
      nice!nano_left:
        what: nice!nano_v2
        params:
          orientation: "down"
          P031: "col_1"
          P029: "col_2"
          P002: "col_3"
          P115: "col_4"
          P113: "col_5"
          P111: "col_6"
          P017: "row_1"
          P020: "row_2"
          P022: "row_3"
          P024: "row_4"
          P100: "row_5"
          P104: "SCL"
          P106: "SDA"
          BPLUS: "B+"
          BMINUS: "GND"
        where: matrix_inner_num
        adjust:
          shift: [24.5, -7.5]
          rotate: -90
      rgb_din_resistor_left:
        what: resistor
        where: matrix_inner_num
        adjust:
          shift: [12.5, 8.25]
          rotate: 0
        params:
          value: "330立"
          left: ""
          right: ""
      oled_left:
        what: oled
        where: matrix_inner_num
        adjust:
          shift: [30.5, -23.5]
          rotate: -90
        params:
          SDA: "SDA"
          SCL: "SCL"
      jstph_left:
        what: jstph
        adjust:
          ref: matrix_inner_num
          shift: [12.5, -30.5]
          rotate: 90
        params:
          pos: "JST+"
          neg: "GND"
      power_switch_left:
        what: toggle_switch
        where: matrix_inner_num
        adjust:
          shift: [21, -36.5]
          rotate: 180
        params:
          value: "MSK12C02-HB"
          from: "B+"
          right: "JST+"
          left: ""
      charging_diode_left:
        what: combo_diode
        adjust:
          ref: matrix_inner_num
          shift: [13, -26.5]
          rotate: 0
        params:
          value: "1N5819"
          SMD: true
          from: "B+"
          to: "JST+"
      reset_switch_left:
        what: push_switch
        where: matrix_inner_num
        adjust:
          shift: [35, -30]
          rotate: 90
        params:
          value: "TS-1187A-B-A-B"
          A: "RST"
          B: "GND"
      reset_pull_up_resistor_left:
        what: resistor
        where: matrix_inner_num
        adjust:
          shift: [30, -30]
          rotate: 90
        params:
          value: "10k立"
          left: "VCC"
          right: "RST"
      mounting_hole_inner_top:
        what: MountingHole_3_2mm_M3_Pad_Via
        where: matrix_inner_num
        adjust:
          shift: [-8, 11.5]
      mounting_hole_inner_bottom:
        what: MountingHole_3_2mm_M3_Pad_Via
        where: matrix_inner_bottom
        adjust:
          shift: [5.4, -13.5]
      mounting_hole_outer_bottom:
        what: MountingHole_3_2mm_M3_Pad_Via
        where: matrix_pinky_bottom
        adjust:
          shift: [-5.5, -12.5]
      mounting_hole_outer_top:
        what: MountingHole_3_2mm_M3_Pad_Via
        where: matrix_pinky_num
        adjust:
          shift: [4, 15.5]
      tooling_hole_outer_top:
        what: jlcpcb_tooling_hole
        where: matrix_outer_num
        adjust:
          shift: [-8.5, 8.5]
      tooling_hole_outer_bottom:
        what: jlcpcb_tooling_hole
        where: matrix_outer_bottom
        adjust:
          shift: [-8.5, -8.5]
      tooling_hole_inner_bottom:
        what: jlcpcb_tooling_hole
        where: thumb_inner_cluster
        adjust:
          shift: [8.5, -8.5]
  Palette58_right:
    outlines:
      main:
        outline: board_right
    footprints:
      gateron_low_profile_hotswap:
        what: gateron_low_profile
        where: 
          - /^mirror_matrix_.*/
          - /^mirror_thumb_.*/
        params:
          keycaps: true
          reverse: false
          hotswap: true
          from: "{{column_net}}"
          to: "{{colrow}}"
      diodes:
        what: combo_diode
        where: 
          - /^mirror_matrix_.*/
          - /^mirror_thumb_.*/
        adjust:
          shift: [8.25, 0]
          rotate: -90
          resist: true
        params:
          value: "1N4148"
          SMD: true
          from: "{{colrow}}"
          to: "{{row_net}}"
      per_key_rgb:
        what: XL-1615RGBC-WS2812B
        where: 
          - /^mirror_matrix_.*/
          - /^mirror_thumb_.*/
        adjust:
          shift: [0,5.75]
          resist: true
        params:
          din: ""
          dout: ""
      per_key_rgb_decoupling_capacitors:
        what: ceramic_capacitor
        where: 
          - /^mirror_matrix_.*/
          - /^mirror_thumb_.*/
        adjust:
          shift: [0, 9.25]
        params:
          value: "100nF"
          left: "GND"
          right: "VCC"
      hotswap_diode_vias:
        what: covered_via
        where: 
          - /^mirror_matrix_.*/
          - /^mirror_thumb_.*/
        adjust:
          shift: [6.40, -5.75]
          resist: true
        params:
          net: "{{colrow}}"
      per_key_led_ground_vias:
        what: covered_via
        where: 
          - /^mirror_matrix_.*/
          - /^mirror_thumb_.*/
        adjust:
          shift: [-0.7, 5.325]
          resist: true
        params:
          size: 0.65
          net: "GND"
      per_key_rgb_capacitor_ground_vias:
        what: covered_via
        where: 
          - /^mirror_matrix_.*/
          - /^mirror_thumb_.*/
        adjust:
          shift: [-0.48, 8.25]
          resist: true
        params:
          size: 0.56
          net: "GND"
      nice!nano_right:
        what: nice!nano_v2
        params:
          orientation: "down"
          P031: "col_1"
          P029: "col_2"
          P002: "col_3"
          P115: "col_4"
          P113: "col_5"
          P111: "col_6"
          P017: "row_1"
          P020: "row_2"
          P022: "row_3"
          P024: "row_4"
          P100: "row_5"
          P104: "SCL"
          P106: "SDA"
          BPLUS: "B+"
          BMINUS: "GND"
        where:
          ref: mirror_matrix_inner_num
        adjust:
          shift: [24.5, -7.5]
          rotate: 90
          # resist: true
      rgb_din_resistor_right:
        what: resistor
        where: mirror_matrix_inner_num
        adjust:
          shift: [12.5, 8.25]
          rotate: 0
        params:
          value: "330立"
          left: ""
          right: ""
      oled_right:
        what: oled
        where: mirror_matrix_inner_num
        adjust:
          shift: [30.5-12, -23.5]
          rotate: 90
        params:
          SDA: "SDA"
          SCL: "SCL"
      jstph_right:
        what: jstph
        adjust:
          ref: mirror_matrix_inner_num
          shift: [12.5, -30.5]
          rotate: 90
        params:
          pos: "JST+"
          neg: "GND"
      power_switch_right:
        what: toggle_switch
        where: mirror_matrix_inner_num
        adjust:
          shift: [21, -36.5]
          rotate: 180
        params:
          value: "MSK12C02-HB"
          from: "B+"
          right: "JST+"
          left: ""
      charging_diode_right:
        what: combo_diode
        adjust:
          ref: mirror_matrix_inner_num
          shift: [13, -26.5]
          rotate: 180
        params:
          value: "1N5819"
          SMD: true
          from: "B+"
          to: "JST+"
      reset_switch_right:
        what: push_switch
        where: mirror_matrix_inner_num
        adjust:
          shift: [35, -30]
          rotate: 90
        params:
          value: "TS-1187A-B-A-B"
          A: "RST"
          B: "GND"
      reset_pull_up_resistor_right:
        what: resistor
        where: mirror_matrix_inner_num
        adjust:
          shift: [30, -30]
          rotate: -90
        params:
          value: "10k立"
          left: "VCC"
          right: "RST"
      mounting_hole_inner_top:
        what: MountingHole_3_2mm_M3_Pad_Via
        where: mirror_matrix_inner_num
        adjust:
          shift: [-8, 11.5]
      mounting_hole_inner_bottom:
        what: MountingHole_3_2mm_M3_Pad_Via
        where: mirror_matrix_inner_bottom
        adjust:
          shift: [5.4, -13.5]
      mounting_hole_outer_bottom:
        what: MountingHole_3_2mm_M3_Pad_Via
        where: mirror_matrix_pinky_bottom
        adjust:
          shift: [-5.5, -12.5]
      mounting_hole_outer_top:
        what: MountingHole_3_2mm_M3_Pad_Via
        where: mirror_matrix_pinky_num
        adjust:
          shift: [4, 15.5]
      tooling_hole_outer_top:
        what: jlcpcb_tooling_hole
        where: mirror_matrix_outer_num
        adjust:
          shift: [-8.5, 8.5]
      tooling_hole_outer_bottom:
        what: jlcpcb_tooling_hole
        where: mirror_matrix_outer_bottom
        adjust:
          shift: [-8.5, -8.5]
      tooling_hole_inner_bottom:
        what: jlcpcb_tooling_hole
        where: mirror_thumb_inner_cluster
        adjust:
          shift: [8.5, -8.5]